/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling hallo*/

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

fieldset{
  border: 1px solid;
  border-color: var(--border-color);
  padding: 20px;
  margin-bottom: 20px;
}

/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

.header {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background-color: var(--background-color);
  align-items: center;
  gap: 10%;
  justify-content: space-around;
}

.header__image {
  width: 50px;
  height: 50px;
}

.header__title {
  font: 24px Helvetica;
  font-weight: bold;
}

.header__navigation {
  font: 12px Helvetica;
}

/* ### TODO ### Styles for Main Component */

.main {
  display: flex;
}

.main div {
  padding-bottom: 15px;
  text-align: justify;
}

.main input {
  padding-bottom: 10px; 
  padding-top: 10px;
  padding-left: 5px;
}

.main h2 {
  padding-bottom: 20px;
}

.main legend {
  font-weight: bold;
}

/* ### TODO ### Styles for Tagging component */

.main__tagging.tagging {
  padding: 20px;
}

.main__tagging.tagging div:nth-of-type(n+1) {
  padding-top: 3%;
}

.main__discovery.discovery {
  padding: 20px;
}

#Map {
  justify-content: flex-start;
}

main li {
  border: 1px solid #797979;
  color: #00B7FF;
  margin-bottom: 15px;
  background-color: #e6e5e5;
  padding: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  list-style-type: none;
}

/*
.tagging__title {
  padding-bottom: 2%;
}

#Ag {
  font-weight: bold;
}

#Fs {
  padding: 5%;
}

fieldset.Field div {
  padding-bottom: 2%;
  text-align: justify1;
}

fieldset.Field div:nth-of-type(n+1) {
  padding-top: 3%;
}

fieldset.Field input {
  padding-bottom: 3%; 
  padding-top: 3%;
  padding-left: 1%;
}

#button {
  padding: 2%;
  border-radius: 1px;
  margin-top: 5%;
  border-color: var(--border-color);
  box-shadow: none;
}

/* ### TODO ### Styles for Discovery component */

/*.main__discovery {
  flex-grow: 1;
  padding: 2%;
}

.main__discovery .row{
  display: block;
}

.discovery__map{
  display: flex;
  justify-content:flex-start;
}

.discovery__title{
  padding-bottom: 0.3%;
}

.discovery__taglist {
  padding-top: 2%;
}

#Se { 
  font-weight: bold;
}

ul.discovery__results li {

  border: 1px solid #797979;
  color: #00B7FF;
  margin-bottom: 1%;
  background-color: #e6e5e5;
  padding: 1%;
  max-width: 15%;
  font-weight: bold;
  list-style-type: none;
}

#Fss {
  padding: 1%;
}
#Sk {
  padding-bottom: 1;
}
#ss {
  max-width: 10%;
  padding: 0.5%;
}
#button2 {
  padding: 0.5%;
  border-radius: 1px;
  margin-top: 1%;
  border-color: var(--border-color);
  box-shadow: none;
  max-width: 10%;
}

/* ### TODO ### Styles for Footer Component */

.footer {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  background-color: var(--background-color);
  align-items: center;
  font: 12px Helvetica;
  font-weight: bold;
  padding-left: 5%;
  position: absolute;
  bottom: 0;
}


/* ### TODO ### Media Queries */

/* ... your code here ... */
.button-custom {
  align-items: center;
  appearance: none;
  background-color: var(--background-color);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
}

.button-custom:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-custom:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-custom:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}